html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Global styles for the application */
button {
  cursor: pointer;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 180px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

button:disabled {
  background: #ccc;
  color: #666;
  box-shadow: none;
  cursor: not-allowed;
}

button.submit-button {
  background: #007bff;
  color: white;
}

button.clear-button {
  background: lightgray;
  color: #333;
}

button.refresh-button {
  background: #28a745;
  color: white;
}

/* --- Sticky Footer --- */
.sticky-footer {
  position: fixed;
  width: 100%;
  margin-bottom: 1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 1rem;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  gap: 0 1rem;
  z-index: 1000;
}

@media (max-width: 376px) {
  .sticky-footer {
    flex-direction: row;
    align-items: stretch;
  }
}

@media (min-width: 375px) {

  .sticky-footer button {
    width: 120px;
    font-size: .85rem;
  }

  .pick-form-wrapper {
    font-size: smaller;
  }
}